/* basic reset css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* stylelint-disable-next-line selector-max-id */
#root {
  max-width: 1000px;
  margin: 0 auto;
}
